@import "../../assets/styles/scss/abstracts/variables.scss";

.pieces-gallery {
	background-color: $lighter;
	justify-items: center;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: $bfs;
}

.overlay {
	position: absolute;
	z-index: 1000;
	margin: $l; 
	padding: $m; 
	background-color: rgba($dark, 0.5);
	// opacity: 0.9;
	border-radius: $radius-m;
}
