@import './assets/styles/scss/abstracts/variables.scss';
@import 'assets/styles/scss/theme.scss';

body {
  @include theme;
  margin: 0;
  background-color: $lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
